.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
}

.header__container {
  width: 100%;
  display: flex;
  margin-top: 29px;
  margin-bottom: 29px;
}

.header__left-part {
  font-size: 24px;
  line-height: 28px;
  flex-basis: 100%;
}
.header__title {
  font-weight: bold;
}
.header__location {
}

.header__right-part {
  flex-basis: 100%;
  text-align: right;
}

.fancy-button {
  background: #4e4ea3;
  border: none;
  box-sizing: border-box;
  border-radius: 12px;

  color: #ffffff;
  padding: 12px 30px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  margin-left: 16px;
}

.overview {
  max-width: 1000px;
  width: 100%;

  background: #ffffff;
  border: 4px solid #000000;
  box-sizing: border-box;
  box-shadow: 6px 6px 0px #000000;
  border-radius: 12px;
}

.overview__header {
  font-style: normal;
  font-size: 32px;
  line-height: 38px;

  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
}

.overview__description {
  border-top: 4px solid black;

  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;

  column-count: 2;
}

.line-item__container {
  margin-bottom: 14px;
  font-size: 24px;
  line-height: 28px;
  margin-right: 52px;
}

.line-item__status-circle {
  display: inline-block;
  margin-right: 12px;
  width: 24px;
  height: 24px;
  border: 4px solid #000000;
  box-sizing: border-box;
  border-radius: 24px;
}

.line-item__status-circle--red {
  background: #ff7676;
}
.line-item__status-circle--green {
  background: #91ff76;
}
.line-item__status-circle--yellow {
  background: #fcff76;
}

.search {
  margin-top: 40px;
  background: #ffffff;
  border: 4px solid #000000;
  box-sizing: border-box;
  box-shadow: 6px 6px 0px #000000;
  border-radius: 12px;
  max-width: 1000px;
  width: 100%;
  height: 80px;
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  padding-left: 24px;
  outline: none;
}

.statuses {
  width: 100%;
  max-width: 1000px;
  margin-top: 40px;
  justify-content: space-between;
  column-count: 2;
  column-gap: 40px;
}

.status-section {
  background: #ffffff;
  border: 4px solid #000000;
  box-sizing: border-box;
  box-shadow: 8px 6px 0px #000000;
  border-radius: 12px;
  width: 100%;
  margin-bottom: 40px;
  display: inline-block;
}

.status-section__header {
  display: flex;
}

.status-section__icon {
  width: 65px;
  height: 67px;
  display: inline-block;
  background: #91ff76;
  border-top-left-radius: 6px;
  border-right: 4px solid black;
}
.status-section__title {
  margin: 14px;
  font-size: 32px;
  line-height: 38px;
  font-weight: bold;
  display: inline-block;
}

.status-section__content {
  border-top: 4px solid black;
  padding: 24px;
}

@media screen and (max-width: 1920px) {
}

@media screen and (max-width: 1280px) {
  .App {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 1000px) {
  .statuses {
    column-count: 1;
  }
  .overview__description {
    column-count: 1;
  }
}

@media screen and (max-width: 768px) {
}

.edit-location-modal__overlay {
  align-items: center;
  justify-content: center;
  display: flex;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.75);
}

.edit-location-modal {
  width: 523px;
  height: 488px;
  background: #FFFFFF;
  border: 4px solid #000000;
  box-sizing: border-box;
  border-radius: 12px;
}

.edit-location-modal__title {
  padding: 24px;
  font-size: 32px;
  line-height: 38px;
  font-weight: bold;
}

.edit-location-modal__content {
  border-top: 4px solid black;
  padding: 37px 24px;
}
